<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<web-app>
<!--    <filter>  
        <filter-name>f1</filter-name>  
        <filter-class>kodvel.core.LoadFilter</filter-class>  
    </filter>  
   
    <filter-mapping>  
        <filter-name>f1</filter-name>  
        <url-pattern>/</url-pattern>  
    </filter-mapping> -->
</web-app>